<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="~/styles.css"/>
</head>
<body style="background-color:#a2ceba">
    <header>
        
    </header>
    <section style="position:relative;">
        <div class="container" style="margin-top:10px;">
            <div class="row text-center">
                <div class="col-12" style="display:flex; justify-content:center;align-items:center;">
                    <div class="social github">
                        <a href="https://github.com/Surmden" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                    </div>

                    <div class="social instagram">
                        <a href="https://en.wikipedia.org/wiki/Instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>

                    <div class="social vk">
                        <a href="https://m.vk.com/surmdenovich" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                    </div>

                    <div class="social telegram">
                        <a href="https://web.telegram.org/z/" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
                    </div>

                    <div class="social whatsapp">
                        <a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
                    </div>

                </div>
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <a href="/SmartShop/Start" class="btn text-white" style="background-color: #de6363; position: absolute; right: 10px; top: 10px; ">Start Page</a>
    </section>
    <footer>

    </footer>
</body>
</html>
